{% load sekizai_tags %}

<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% render_block "css" %}
    </head>
    <body>
        {% block page_header %} {% endblock %}
        {% block content %} {% endblock %}
        {% block side_content %} {% endblock %}

        {% render_block "js" %}
    </body>
</html>