<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}
        {% block side_content %} {% endblock %}
        {% block extra_body %}{% endblock %}
    </body>
</html>