{% extends "kurvey/base.html" %}
{% load static sekizai_tags display_fields %}

{% block title %}{{ object.question_set }} - Capture Detail{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="text-white0">
            <ol>
            {% if request.user.is_staff %}
                <li><a href='{% url "kurvey:capture_list" %}' class="text-white0">List</a></li>
            {% endif %}
            </ol>
            <h2>{{ object }}</h2>
        </div>
    </div>
    </div>
{% endblock %}

{% block page_header %}
    <h3>Capture Detail</h3>
{% endblock %}

{% block content %}
    <div class="kurvey detail">

        <div class="content">

            <div class="card">
                <div class="card-header">{{ object.question_set }}</div>
                <ul class="list-group list-group-flush">
                    {% for detail in detail_object|get_display_fields:detail_fields %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 col-xs-3">
                                    {{ detail.label|capfirst }}
                                </div>
                                <div class="col-md-9 col-lg-9 col-xs-9">
                                    {{ detail.value }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br/>

        <div class="answers">
            <h4>Answers</h4>
            {% include "kurvey/includes/capture_review.html" with capture=object %}
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}


{% block side_content %}
    <div class="kurvey detail">
        <div class="sidebar">
            {% if object.date_completed %}
                {% if is_owner or user.is_staff %}
                    <div class="card border-success">
                        <div class="card-header">Completed</div>
                        <div class="card-body">
                            <p>Your have successfully completed the questionnaire.
                                You cannot make anymore changes to the form.</p>
                            <p>You can however print it as a PDF document.</p>

                        </div>
                        <div class="card-footer">
                            <a href='{% url "survey:capture_detail" object.pk %}?action=print'
                               class="btn btn-primary btn-sm rounded-0">
                                <i class="bi bi-printer"></i> Print
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if is_owner %}
                    <div class="card border-warning">
                        <div class="card-header">Saved</div>
                        <div class="card-body">
                            <p>Your data has been saved successfully. Click on the complete button below to finalize the
                                process.
                            </p>
                            <p>You can also edit the form again if you wish to change anything.</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a href='{{ capture.get_manage_url }}'
                                   class="btn btn-outline-secondary btn-sm rounded-0">
                                    <i class="fa fa-pencil-square-o"></i> Edit
                                </a>
                                <a href='#' id="id_capture_complete" class="btn btn-success btn-sm rounded-0 ">
                                    <i class="fa fa-check-square"></i> Complete
                                </a>
                            </div>

                            <a href='{% url "survey:capture_detail" object.pk %}?action=print'
                               class="btn btn-primary btn-sm rounded-0 float-end">
                                <i class="bi bi-printer"></i> Print
                            </a>

                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% addtoblock 'js' %}
        <script type="text/javascript" src='{% static "kurvey/plugins/bootbox/bootbox.min.js" %}'></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $("#id_capture_complete").click(function(e) {
                    bootbox.confirm({
                        message: "Are you sure you want to complete this questionnaire. You will not be able to make anymore changes?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result){
                                url = '{% url "survey:capture_detail" object.pk %}?action=complete';
                            window.location = url;
                        }
                    }
                });
            });

        });
        </script>
    {% endaddtoblock %}
{% endblock %}
