{% extends "kurvey/base.html" %}
{% load static sekizai_tags display_fields %}

{% block title %}Capture List{% endblock %}

{% block page_header %}
    <h3>Capture List</h3>
{% endblock %}


{% block content %}
    <div class="kurvey capture-list content">
        <div class="card shadow-sm border-light- rounded-0">
            {% comment %}
                <div class="card-header">

                    <div class="d-flex">
                        <div class="mr-auto">
                            Submitted Data
                        </div>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>
                </div>
            {% endcomment %}
            <div class="card-body p-3 pb-0">
                <table class="table table-sm mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>User</th>
                        <th>Date created</th>
                        <th>Date completed</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ x.get_absolute_url }}">{{ x.code }}</a></td>
                            <td>{{ x.user }}</td>
                            <td>{{ x.date_created }}</td>
                            <td>{{ x.date_completed }}</td>
                            <td>
                                {% comment %}
                                <a href='{{ x.get_absolute_url }}' type="button"
                                   class="btn btn-secondary btn-sm mb-2 py-0">Details</a>
                                {% endcomment %}
                                <a href='{{ x.get_pdf_url }}' type="button"
                                   class="btn btn-outline-secondary btn-sm mb-1 py-0 rounded-0">Print</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">
                                <div class="py-3 small">No results found</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block side_content %}
    <div class="kurvey capture-list sidebar">
        {% comment %}
            <div class="card mb-3">
                <div class="card-header">Question Sets</div>
                <div class="card-body p-0">

                    <ul class="list-group">
                        {% for x in question_sets %}
                            <li class="list-group-item rounded-0 {% if x.selected %}active{% endif %}">
                                <a href='{% url "kurvey:capture_list" x.pk %}'>{{ x.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endcomment %}

        <div class="card mb-3">
            <div class="card-header">Filters</div>
            <div class="card-body">
                <form action="" method="get">
                    {{ filter_form }}
                    <div class="clearfix"></div>
                    <input type="submit" value="Filter" class="btn btn-sm btn-dark rounded-0 mt-3 float-end"/>
                </form>

            </div>
        </div>

    </div>
{% endblock %}
