{% extends "kurvey/base.html" %}

{% block title %}{{ question_set }} - Capture Authorize{% endblock %}

{% block page_header %}
    <h3>Capture Authorize</h3>
{% endblock %}

<div class="card-header">
    {{question_set}}
</div>

{% block content %}
    <form action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {% include "kurvey/includes/capture_form.html" %}
            </div>
            <div class="card-footer">
                <button name="_submit" class="btn btn-success">Proceed</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block side_content %}
    <div class="kurvey manage">
    <div class="sidebar">
        <div class="card">
            <div class="card-body p-4">
                <p>Please fill this introductory form to begin answering questions for <b>{{ question_set }}</b></p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
