{% extends "kurvey/base.html" %}
{% load static %}

{% block title %}{{ question_set.name }} - Capture Manage{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}


{% block content %}
<div class="kurvey manage">
    <div class="content">
        <h3>{{ question_set.name }}</h3>

        <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    {{ form.info.name }}
                </div>
                <div class="card-body">
                    {% include "kurvey/includes/capture_form.html" %}
                </div>
                <div class="card-footer">
                    {% include "kurvey/includes/capture_buttons.html" %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block side_content %}
    <div class="kurvey manage">
    <div class="sidebar mb-3">
        <div class="card">
            <div class="card-header">
                <p class="card-text">Select a section to answer the questions</p>
            </div>
            <ul class="list-group list-group-flush">
                {% for x in group_info.all %}
                    <li class="list-group-item {% if x.pk == group_info.current.pk %}active{% endif %}">
                        <a href='{{ capture.get_manage_url }}?group={{ x.pk }}'>
                            {{ x.get_text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if capture and capture.date_validated %}
        <div class="">
            <a href='{{ capture.get_absolute_url }}' class="btn btn-outline-secondary btn-sm mt-3">
                View Details
            </a>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
