{% extends "bs4_classic/base_popup.html" %}
{% load media_tags static sekizai_tags %}

{% block all_body %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pictures</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active m-2" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% block right_actual_content %}{% endblock %}
        </div>
        <div class="tab-pane m-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% for capture_answer in capture_answers %}
                <h6>Pictures ({{ capture_answer.capturepicture_set.count }})</h6>

                {% for obj in capture_answer.capturepicture_set.all %}
                    <a data-fancybox="gallery-{{ capture_answer.pk }}" href="{{ obj.picture.gen_image_url }}" >
                        <img src="{{ obj.picture.gen_image_url }}" style="height: 120px" class="m-2">
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% addtoblock "js" %}
        <link rel="stylesheet" href='{% static "bs4_classic/fancyapps/jquery.fancybox.min.css" %}' />
        <script src='{% static "bs4_classic/fancyapps/jquery.fancybox.min.js" %}'></script>
    {% endaddtoblock %}
{% endblock %}

