{% extends "kurvey/base_pdf.html" %}
{% load static display_fields %}

{% block pretitle %} 
    <br />
    <h1>{{ object.question_set }}</h1>
{% endblock %}

{% block content %}

    {% block detail_info %}
    <div class="module full">
    <table> 
        <tbody>
        {% for detail in detail_object|get_display_fields:detail_fields %} 
            <tr>
                <td>{{ detail.label|capfirst }}</td>
                <td>{{ detail.value|striptags|default:'---' }}</td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endblock %}

    <br /><br />

    {% block values_info %}
    {% for grp in review_values %}
    <div class="module full items">
    <table class="items">
        <caption></caption>
        <thead>
            <tr>
                <th style="width: 100%;">{{ grp.group.get_text|upper }}</th>
            </tr>
        </thead>
        <tbody>
            {% for qv in grp.question_values %}
                <tr>
                    <td>
                        {{ qv.question.number }}: {{ qv.text }}
                        <br>
                        <b>{{ qv.value|default:'---' }}</b>
                    </td>
                </tr>
            {% endfor %}
        </tbody> 
    </table>
    </div>
    <br>
    {% endfor %} 
    {% endblock %}


    {% block pictures_info %}
    {% comment %}
    <h2>Pictures</h2>
    <hr />
    {% for grp in review_values_ %}
        <div class="module full">
        <table>
            <caption></caption>
            <thead>
                <tr>
                    <th style="width: 100%">{{ grp.group.get_text|upper }}</th>
                </tr>
            </thead>
            <tbody>
                {% for qv in grp.question_values %}
                    <tr>
                        <td>
                            {% for img in qv.pictures %}
                                <img src="{{ media_url }}{{ img.picture__image }}"
                                     style="height: 120px; margin: 10px" />
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <br>
    {% endfor %}
    {% endcomment %}
    {% endblock %}

{% endblock %} 