{% extends "kurvey/base.html" %}


{% block content %}
<div class="row">
<div class="col-md-12">
    
    <table class="table table-bordered" style="border-collapse:collapse;">
        <thead>
            <tr>
                <th>Code</th>
                <th>Number</th>
                <th>Text</th>
                <th>Toggle</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr data-toggle="collapse_" data-target=".demo1_">
                    <th>{{ obj.scode }}</th>
                    <th>{{ obj.number }}</th>
                    <th>{{ obj.short_text }}</th>
                    <td>
                        <a href="#" data-toggle="collapse" data-target=".chlidren_{{ obj.pk }}">
                            <i class="fa fa-plus-square"></i>
                        </a>
                    </td>
                </tr>
                {% for child in obj.active.all %}
                    <tr class="collapse chlidren_{{ obj.pk }}">
                        <td>{{ child.scode }}</td>
                        <td>{{ child.number }}</td>
                        <td colspan="2">
                            <span class="pl-3">{{ child.short_text }}</span>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
 
</div>
</div>
{% endblock %} 