{% load static %}

<div class="list-group">  
    <a href="#" class="list-group-item active">
        {{ current_group.parent.short_text|default:current_group.short_text }}
    </a> 

<div class="list-group-item" style="padding: 15px">
{% if consent_form.extension == 'pdf' %}
    <script type="text/javascript" src='{% static "js/pdfobject.js" %}'></script>

    <script type="text/javascript"> 
        $(document).ready(function() {  
        var myPDF = new PDFObject({
            url: '{{ consent_form.path }}', 
            height: "500px",
            pdfOpenParams: {
                navpanes: 1,
                statusbar: 0,
                view: "FitH",
                pagemode: "thumbs"
              }
            }).embed("pdf_div");
        });
    </script> 

    <div id="pdf_div"></div>
{% endif %}

<div style="text-align: center">
    <br />
    <a class="label label-info" href='{{ consent_form.path }}'>
        Download Consent form 
    </a>
    <br />
</div>

</div>
</div>