{{ formset.management_form }}

<input type="hidden" name="{{ name }}" value="0">

<table class="inlines table table-bordered" id="id_{{ name }}">  

    <thead>
        {% for field in formset.forms.0 %}
        {% if field.is_hidden or field.label == 'Delete' %}
            <th style="displays: block"></th>
        {% else %}
            <th>
                {{ field.label }}
                {% if field.help_text %}<br /><small>{{ field.help_text }}</small>{% endif %}
            </th>
        {% endif %}
        {% endfor %}
        {% if can_change %}
            <th></th>
        {% endif %}
    </thead>

    <tbody class="b {{ formset.prefix }}">
    {% for form in formset.forms %}
        {% if form.non_field_errors %}
            <tr>
                <td colspan="{{ formset.forms|length }}">{{ form.non_field_errors }}</td>
            </tr>
        {% endif %}

        <tr id="{{ form.prefix }}-row" class="edit">
            {% for field in form %}
                {% if field.is_hidden or field.label == 'Delete' %}
                    <td style="displays: block">{{ field }}</td>
                {% else %}
                     <td> 
                        {{ field.errors }}{{ field }}
                     </td>
                {% endif %}
            {% endfor %}
            {% if can_change %}
                <td id="small_input">{{ form.DELETE }}</td> 
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>

</table> 


<script type="text/javascript">

    {% comment %}
    function init_datetime_picker(){
        $('.cls_date_picker, .VDateField').datetimepicker({
            timepicker: false,
            format: 'Y-m-d'
        });

        $('.cls_datetime_picker, .VDateTimeField').datetimepicker({
            format: 'Y-m-d H:i'
        });
    }

    function added_formset(row){ 
        $('.cls_date_picker, .VDateField').datetimepicker('destroy');
        $('.cls_datetime_picker, .VDateTimeField').datetimepicker('destroy');
        init_datetime_picker();
    }
    $( document ).ready(function() {
        init_datetime_picker();
    });
    {% endcomment %}

    {% if can_change %} 
        function injectJS() {
            // var script = document.createElement('script');
            // script.type = 'text/javascript';
            // script.text = 'alert("DFD"); $("#sd")';
            // document.body.appendChild(script);

            $('#id_{{ name }} .b tr.edit').formset({ 
                addText: 'Add another',
                prefix: '{{ name }}',
                // added: added_formset,
            });  

        }

        window.onload = injectJS();
    {% endif %}

</script>