
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
        {% for x in headers %}
            <th>{{ x.get_text }}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% for row in content %}
        <tr>
        {% for x in row %}
            <td class="{{ x.extra.widget_attrs.extra_class }}">{{ x.value|default:"-" }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<br />