<div class="{{ field_name }}">
    <div class="clearButton pull-right">
        <span class="glyphicon glyphicon-trash"></span> 
        <a href="#clear">Clear</a>
    </div>
    <div class="clear"></div> 
    <div class="sig sigWrapper col-md-12 col-lg-12 col-xs-12" style="height: {{ height }}">
        <canvas class="pad"></canvas>
        <input type="hidden" name="{{ field_name }}" id="id_{{ field_name }}" class="output">
        <div class="clear"></div> 
    </div>
</div>

<script>
    var canvas,
        onResize = function(event) { 
           canvas.attr({
            height: $('.sigWrapper').height() - 2,
            width: $('.sigWrapper').width() - 2
          });
        };
    var api;
    function mySuccess(context, settings){ 
        var store = api.getSignatureString() + "|" + api.getSignatureImage();
        $("#id_{{ field_name }}").val( store );
    }

    $(document).ready(function() {
        canvas = $('canvas');
        window.addEventListener('orientationchange', onResize, false);
        window.addEventListener('resize', onResize, false);
        onResize();

        api = $('.{{ field_name }}').signaturePad({
                    drawOnly: true, 
                    lineTop: 210,
                    onBeforeValidate: mySuccess
                });
        var sig = {{ value }};
        api.regenerate(sig);
    });
</script>