{% if highest_group %}
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">  
            
            <a href="#" class="btn btn-xs btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">
                Groups ({{ group_list.count }})
            </a>  

            <div class="modal fade bs-example-modal-sm" 
                 tabindex="-1" aria-hidden="true"
                 role="dialog" aria-labelledby="mySmallModalLabel">

                <div class="modal-dialog modal-sm">
                <div class="modal-content"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Groups</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="pagination"> 
                        {% for x in group_list %}
                            <li {% if current_group.pk == x.pk %}class="active disabled"{% endif %}>
                                <a href="{{ request.path }}?group={{ x.pk }}">{{ x }}</a>
                            </li> 
                        {% endfor %}
                        {% if next_station %}
                            <li>
                                <a href="{{ request.path }}?review_station={{ current_station.pk }}">Review</a>
                            </li> 
                        {% endif %}
                        </ul>
                    </div>
                </div>
              </div>
            </div> 

        </div>
        <div class="col-md-4 col-xs-4 col-sm-4 pull-right">   
            <div class="progress progress-striped">
              <div class="progress-bar {% if not next_group %}progress-bar-success{% endif %}" 
                   role="progressbar" aria-valuemin="0" aria-valuemax="100"
                   aria-valuenow="{{ position.percent }}"  
                   style="min-width: 10%; width: {{ position.percent }}%;"> 
              </div>
            </div> 
        </div>
    </div>
{% endif %}