<div class="btn-group">
    {% if group_info.previous %} 
        <button name="_after_url" class="btn btn-outline-secondary"
                value='{{ capture.get_manage_url }}?group={{ group_info.previous.pk }}'>Previous</button>
    {% endif %} 

    {% if group_info.previous or group_info.next %}
        <button class="btn btn-outline-secondary">Save &amp; continue editing</button>
    {% endif %}
    
    {% if group_info.next %}
        <button name="_after_url" class="btn btn-primary" 
                value='{{ capture.get_manage_url }}?group={{ group_info.next.pk }}'>Next</button>
    {% else %} 
        <button name="_submit" class="btn btn-success" value='{{ capture.get_absolute_url }}'>Submit</button>
    {% endif %}
</div>
