
{% if form %}
    <div class="list-group">
        {% for field in form %}
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <div class="d-flex mb-2">
                    {% if field.field.extra.code %}
                        <div class="number">{{ field.field.extra.code }}</div>
                    {% endif %}
                    <div class="text {% if field.field.required %}required{% endif %}">
                        {{ field.label_tag }} {% if field.field.required %}*{% endif %}
                    </div>
                </div>
            </div>
            <div class="list-group-item-text"> 
                <div class="d-flex">
                    <div class="mr-auto w-100">
                        {% if field.errors %}
                        <div class="errors">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        <div class="field">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <div class="help-text">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>  
        </div>    
        {% endfor %} 
    </div>
{% endif %}
