<div class="list-group">  
    <a href="#" class="list-group-item active">
        {{ current_group.get_text }}
    </a> 
    <div class="list-group-item" style="padding: 15px; "> 
        <div class="list-group-item-text" style="text-align: center; color: #999">
            <br />
            <span class="glyphicon glyphicon-warning-sign"></span>
            <p class="lead">No questions available</p>
        </div>  
    </div>  
</div>  