{% load kurvey_tags static %}
{% load sekizai_tags %}


<div class="vertical-tabs">
<div class="row no-gutters">

    <div class="col-md-3">
        <ul class="nav nav-tabs nav-stacked" role="tablist">
            {% for grp in review_values %} 
            <li class="nav-item {% if forloop.first %}active{% endif %}">
                <a class="nav-link" data-toggle="tab" href="#tab{{ grp.group.pk }}" role="tab">
                    {{ grp.group.number }}. {{ grp.group.get_text }}
                </a>
            </li>
            {% endfor %} 
        </ul>
    </div>

    <div class="col-md-9">
        <div class="card card-block-0">
        <div class="tab-content">
            {% for grp in review_values %} 
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="tab{{ grp.group.pk }}" role="tabpanel">
                    <ul class="list-group list-group-flush">
                    {% for qv in grp.question_values %} 
                        <li class="list-group-item">
                            <div class="d-flex">
                                <div class="mr-auto w-100">
                                    {{ qv.question.number }}: {{ qv.text }}
                                    <br>
                                    <b>{{ qv.value|default:"---" }}</b>
                                </div>
                                <div class="">
                                    {% if qv.capture_answer_ %}
                                        {% with qv.capture_answer as picture_qs %}
                                            {% for obj in picture_qs %}
                                            <a data-fancybox="gallery-{{ qv.capture_answer.pk }}" 
                                                href="{{ obj.gen_image_url_ }}"
                                                {% if not forloop.first %}style="display: none"{% endif %}>
                                                <img src="{{ obj.gen_image_url_ }}" style="height: 50px">
                                            </a>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}
                                    {% if qv.pictures %}
                                            {% for obj in qv.pictures %}
                                            <a data-fancybox="gallery-{{ qv.capture_answer.pk }}"
                                                href="{{ MEDIA_URL }}{{ obj.picture__image }}"
                                                {% if not forloop.first %}style="display: none"{% endif %}>
                                                <img src="{{ MEDIA_URL }}{{ obj.picture__image }}" style="height: 50px">
                                            </a>
                                            {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %} 
                    </ul>
                </div>
            {% endfor %} 
        </div>
        </div>
    </div>

</div>
</div>


{% addtoblock "js" %}
    <link rel="stylesheet" href='{% static "kurvey/plugins/fancyapps/jquery.fancybox.min.css" %}' />
    <script src='{% static "kurvey/plugins/fancyapps/jquery.fancybox.min.js" %}'></script>
{% endaddtoblock %}
